<header class="site-header" role="banner">
	<button class="primary-nav__toggle js-primary-nav__toggle">
		<span class="hamburger"></span>
		<span class="is-vishidden">Navigation</span>
	</button>
	{{> components-primary-nav }}
</header>