<footer class="section site-footer" role="contentinfo">
	<div class="wrapper wrapper--xsmall site-footer__wrapper">
		<p class="site-footer__message"><strong>Thank you</strong> for making 2016 so great</p>
		<p class="site-footer__cta">
			<a href="https://www.degdigital.com/contact" target="_blank">Ready to repeat in 2017?</a>
		</p>
	</div>
</footer>