{{> components-header }}

<main class="main">
	{{# intro }}
		{{> components-intro }}
	{{/ intro }}

	{{# guideIntro }}
		{{> components-guide-intro }}
	{{/ guideIntro }}

	{{> templates-viewing-audience }}

	{{> templates-mobile-first }}
</main>

{{> components-footer }}