{{# viewingAudience }}
	{{> components-topic-section }}

	<div class="wrapper wrapper--small main-content">
		{{> basics-heading-main(heading: 'Content Hierarchy') }}
		<p>
			How you prioritize your content is just as important as the message itself. What content is the most important? Should the begining of the email hook the reader to scroll and keep reading? Or should you include your primary action at the very beginning? How should you style different pieces of text to show emphasis? These are all questions relating to content hierarchy.
		</p>

		{{> basics-heading-secondary(heading: 'The preview pane') }}
		<p>
			Most desktop clients utilize a small window to show a portion of the email on first load. This window is commonly referred to as the preview pane. It’s important to consider that although you are designing for a large screen, many readers will only see the beginning of your email. Consider designing your most interesting and engaging content higher into your email.
		</p>
		<p>
			Below is a screenshot showing the preview pane in Outlook.
		</p>
	</div>

	{{> components-image-callout(image: 'http://placehold.it/680x355', alt: 'Alt Text') }}

	<div class="wrapper wrapper--small main-content">
		{{> basics-heading-secondary(heading: 'Webmail vs Desktop vs Mobile') }}
		<p>
			Most desktop clients utilize a small window to show a portion of the email on first load. This window is commonly referred to as the preview pane. It’s important to consider that although you are designing for a large screen, many readers will only see the beginning of your email. Consider designing your most interesting and engaging content higher into your email.
		</p>
		<p>
			Below is a screenshot showing the preview pane in Outlook.
		</p>
	</div>

	{{> components-image-callout-iphone }}
{{/ viewingAudience }}