{{# viewingAudience }}
	<section class="topic-section" id="{{ topicID }}">
		{{> components-topic-section-header }}
		<div class="wrapper wrapper--small main-content">
			{{> basics-heading-main(heading: 'Reading Environment') }}
			<p>
				[READING ENVIRONMENT DESCRIPTION]
			</p>

			{{> basics-heading-secondary(heading: 'The preview pane') }}
			<p>
				Most desktop clients utilize a small window to show a portion of the email on first load. This window is commonly referred to as the preview pane. It’s important to consider that although you are designing for a large screen, many readers will only see the beginning of your email. Consider designing your most interesting and engaging content higher in your email.
			</p>

			{{> components-image-callout(image: 'http://placehold.it/680x355', alt: 'Alt Text') }}

			{{> basics-heading-secondary(heading: 'Webmail vs Desktop vs Mobile') }}
			<p>
				Webmail vs Desktop vs Mobile (Graphic - Statistical graph of open rates)
			</p>

			{{> components-image-callout(image: 'http://placehold.it/680x355', alt: 'Alt Text') }}

			{{> basics-heading-main(heading: 'Which Email Clients to Support') }}
			<p>
				DEG looks at 2 different things to determine this.
			</p>
			<ol>
				<li>Email Client Market Share, which is a breakdown of opens by email client.</li>
				<li>The reading environment split, which is the breakdown of desktop, mobile, and webmail clients</li>
			</ol>

			{{> components-image-callout(image: 'http://placehold.it/680x355', alt: 'Alt Text') }}
		</div>
	</section>
{{/ viewingAudience }}