{{# viewingAudience }}
	<section class="topic-section" id="{{ topicID }}">
		{{> components-topic-section-header }}
		<div class="wrapper wrapper--small main-content">

			{{> basics-heading-main(heading: 'What email clients should be supported?') }}
			<p>
				A common question when it comes to designing and building emails is "What email clients do I need to support?" DEG looks at 2 different things to determine our typical support.
			</p>
			<ol>
				<li>Email Client Market Share, which is a breakdown of opens by email client.</li>
				<li>In addition to the email client market share, we also look at the breakdown of desktop, mobile, and webmail client opens happening in a given circumstance.</li>
			</ol>

			{{> basics-heading-secondary(heading: 'Email Client Market Share') }}
			<p>
				DEG uses the concept of Graded Email Client Support, which defines the current set of email clients that should receive a verified, usable experience. However, trying to deliver the same "A-grade" experience across all tested email clients is neither cost effective nor best practice and forces you to design and develop for the lowest common denominator. We support a tiered approach to design, development, and testing that will allow us to deliver the best experience possible to each individual user.
			</p>
			<p>
				The support grid is only to be regarded as DEG’s baseline suggestion. Because support needs may vary widely based on platform, vertical, or industry, each project should try to define any special cases needed to best serve their subscribers and stakeholders.
			</p>

			{{> components-image-callout(image: 'http://placehold.it/680x355', alt: 'Alt Text') }}

			{{> basics-heading-secondary(heading: 'Webmail vs Desktop vs Mobile') }}
			<p>
				Webmail vs Desktop vs Mobile (Graphic - Statistical graph of open rates)Because this may vary widely based on platform, vertical, or industry it's important to know what....[FINISH]
			</p>

			{{> components-image-callout(image: 'http://placehold.it/680x355', alt: 'Alt Text') }}

			{{> basics-heading-secondary(heading: 'What does support mean?') }}
			<p>
				Support does not mean that every user gets the same thing. Expecting two users using different email clients to have an identical experience fails to embrace the nature of email. In fact, requiring the same experience for all users creates an artificial barrier to participation.
			</p>
			<p>
				An appropriate support strategy allows users to consume as much visual and interactive richness as their environment can support. This approach—commonly referred to as progressive enhancement — builds a rich experience on top of an accessible core, without compromising that core. Progressive enhancement is a core concept of DEG’s Email Client Support.
			</p>

			{{> basics-heading-main(heading: 'Baseline Support') }}
			<p>
				[BASELINE SUPPORT GRID DESCRIPTION]
			</p>
			{{> components-support-grid }}

			{{> basics-heading-main(heading: 'Reading Environment') }}
			<p>
				[READING ENVIRONMENT DESCRIPTION]
			</p>

			{{> basics-heading-secondary(heading: 'The preview pane') }}
			<p>
				Most desktop clients utilize a small window to show a portion of the email on first load. This window is commonly referred to as the preview pane. It’s important to consider that although you are designing for a large screen, many readers will only see the beginning of your email. Consider designing your most interesting and engaging content higher in your email.
			</p>

			{{> components-image-callout(image: 'http://placehold.it/680x355', alt: 'Alt Text') }}
		</div>
	</section>
{{/ viewingAudience }}