{{# layout }}
	<section class="topic-section" id="{{ topicID }}">
		{{> components-topic-section-header }}
		<div class="wrapper wrapper--small main-content">
			{{> basics-heading-main(heading: 'Content Hierarchy') }}
			<p>
				How you prioritize your content is just as important as the message itself. What content is the most important? Should the begining of the email hook the reader to scroll and keep reading? Or should you include your primary action at the very beginning? How should you style different pieces of text to show emphasis? These are all questions relating to content hierarchy.
			</p>

			{{> basics-heading-secondary(heading: 'Link depth') }}
			<p>
				Studies show that the deeper a link (i.e. the further one must read until they see it), the less clicks it will receive across all devices. The fifth link in an email typically gets half as many clicks as the first link. Studies also show that highly engaging content can prove this to be untrue.
			</p>
			<p>
				The bottom line is that successful emails have a good balance between content and the primary action. If you want to tell an engaging story, it would be appropriate to place your primary action lower in your email. If you want to user to click on an external above all else, you should place that link higher in your email.
			</p>

			{{> basics-heading-secondary(heading: 'Primary vs Supplemental CTAs') }}
			<p>
				It’s important to remember that some links are more important than others and should be designed accordingly. Certain links are primary actions and should be styled bold, like a button.
			</p>
			<p>
				Buttons are hard to miss - even at a glance. That being said - don’t go overboard! Buttons should be used to call attention to the primary message - not littered throughout the email.
			</p>
			<p>
				“Sign up now”, “Add to cart” and “Become a member” are all examples of primary actions. A primary action is what you want the user to do, or in other words, the entire reason the email was sent in the first place.
			</p>
			<p>
				If you have a link that isn’t related to the primary action, then it’s a secondary action. Secondary actions are used to provide supplemental content, or display non-crucial actions. Primary and secondary action links should be visually distinct. By styling secondary actions this way, the audience will be able to read the email content undistracted. Readers should be able to read through a secondary action link without being visually distracted.
			</p>
			<p>
				“Learn more before you sign up” “view product details” and “view member benefits” are all examples of a non-crucial actions. (These correspond with the primary action examples above.)
			</p>

			{{> components-image-callout(image: 'http://placehold.it/680x355', alt: 'Alt Text') }}

			{{> basics-heading-secondary(heading: 'Content Sections') }}
			<p>
				Similar to how a book has chapters, your email should have clearly defined sections. This can be achieved in various ways, including, but not limited to: dividing lines, background colors and bold headings. Each section of content should also have a clear, easy-to-read and well-written header. You can have great content, but if the heading isn’t captivating or visual appealing it could be bypassed.
			</p>

			{{> basics-heading-main(heading: 'Layout Techniques') }}
			<p>[LAYOUT TECHNIQUES DESCRIPTION]</p>

			{{> basics-heading-secondary(heading: 'Mobile Friendly') }}

			<p>Renders well in the majority of reading environments without special development techniques. Provides clean, simple content hierarchy</p>

			{{> components-image-callout(image: 'http://placehold.it/680x355', alt: 'Alt Text') }}

			{{> basics-heading-secondary(heading: 'Fluid Hybrid') }}

			<p>Allows multiple columns in the design. Does not require media queries to stack content on mobile. Does not provide a fully optimized view for mobile devices. Does not offer a way to hide or rearrange content on mobile.</p>

			{{> components-image-callout(image: 'http://placehold.it/680x355', alt: 'Alt Text') }}

			{{> basics-heading-secondary(heading: 'Responsive') }}

			<p>Offers a fully optimized view for mobile devices that support media queries. Can provide a richer experience when combined with progressive enhancement techniques. Limited to devices that support media queries.</p>

			{{> components-image-callout(image: 'http://placehold.it/680x355', alt: 'Alt Text') }}

		</div>
	</section>
{{/ layout }}