{{# navigation }}
	<section class="topic-section" id="{{ topicID }}">
		{{> components-topic-section-header }}
		<div class="wrapper wrapper--small main-content">
			{{> basics-heading-main(heading: '[NAVIGATION]') }}
			<p>
				An email isn't a website and navigation shouldn't necessarily mirror your website one-to-one.
			</p>

			{{> basics-heading-secondary(heading: 'How Many Nav Items Should Be Included?') }}
			<p>
				The number of nav items that should be included in an email is dependant on a few different factors including, but not limited to: the type of email being sent (i.e. - retail, trigger, transactional, newsletter, etc), the needs of the brand, whether or not dynamic content is being displayed based on audience preferences, and the percentage of mobile audience.
			</p>

			{{> basics-heading-secondary(heading: 'Dynamic Navigation') }}
			<p>
				Using subscriber information to serve a small number of dynamic nav items based on what customers are likely to click on. [DEG HAS A CASE STUDY ON THIS]
			</p>

			{{> basics-heading-secondary(heading: 'Cross-Device Navigation') }}
			<p>
				[OPTIONS FOR DESIGNING CROSS-DEVICE NAVIGATION]
			</p>
		</div>
	</section>
{{/ navigation }}