{{# animation }}
	<section class="topic-section" id="{{ topicID }}">
		{{> components-topic-section-header }}
		<div class="wrapper wrapper--small main-content">
			{{> basics-heading-main(heading: '[ANIMATION') }}
			<p>
				The two main options for adding animation to your emails are Animated GIFs and CSS animation. Which one you choose to use depends on a number of factors including, email client support, accessibility needs, and your specific use case.
			</p>

			{{> basics-heading-secondary(heading: 'Animated GIFs') }}
			<p>
				Animated GIFs are a great way to add visual interest to your email and can be used to call attention to your primary message. While not all clients support animated GIFs, overall support is good. Keep in mind that GIFs are large files by nature - so it’s important to keep them short and use them sparingly.
			</p>
			<p>
				Use cases for gifs: cinemagraphs, faking video, when you have a compelling image that would be improved with animation but requires no additional personalization or interaction.
			</p>

			{{> components-image-callout(image: 'http://placehold.it/680x355', alt: 'Alt Text') }}

			{{> basics-heading-secondary(heading: 'CSS Animation') }}
			<p>
				CSS3 is a great alternative to animating your email content - without the added file size.
			</p>
			<p>
				Use cases for css animation: when your animation requires interactivity (i.e. - shopping cart, product walkthrough, doing something on click or hover), animating personalized or live content, i.e. (twitter feed, animating a search form with the user's location, etc), basic interactions (i.e. - hover states, etc).
			</p>

			{{> components-image-callout(image: 'http://placehold.it/680x355', alt: 'Alt Text') }}
		</div>
	</section>
{{/ animation }}