<figure class="full-width mage-callout image-callout--iphone">
	<div class="image-callout__wrapper image-callout__wrapper--iphone">
		<div class="iphone">
			<img class="iphone__image" src="http:&#x2F;&#x2F;placehold.it&#x2F;184x324" alt="Image Alt Text">
			<img class="iphone__body" src="images/iphone.png" alt="">
		</div>
		<div class="iphone">
			<img class="iphone__image" src="http:&#x2F;&#x2F;placehold.it&#x2F;184x324" alt="Image Alt Text">
			<img class="iphone__body" src="images/iphone.png" alt="">
		</div>
	</div>
</figure>