<nav id="nav" class="nav primary-nav">
	<ul class="primary-nav__list js-primary-nav__list">
		<li class="primary-nav__item">
			<a href="#guide-intro" class="primary-nav__link js-section-anchor">Introduction</a>
		</li>
		<li class="primary-nav__item">
			<a href="#viewing-audience" class="primary-nav__link js-section-anchor">Viewing Audience</a>
		</li>
		<li class="primary-nav__item">
			<a href="#layout" class="primary-nav__link js-section-anchor">Layout</a>
		</li>
		<li class="primary-nav__item">
			<a href="#navigation" class="primary-nav__link js-section-anchor">Navigation</a>
		</li>
		<li class="primary-nav__item">
			<a href="#typography" class="primary-nav__link js-section-anchor">Typography</a>
		</li>
		<li class="primary-nav__item">
			<a href="#images" class="primary-nav__link js-section-anchor">Images</a>
		</li>
		<li class="primary-nav__item">
			<a href="#animation" class="primary-nav__link js-section-anchor">Animation</a>
		</li>
	</ul>
</nav>
