<nav class="wayfinder js-wayfinder">
	<ul class="wayfinder__list">
		<li class="wayfinder__item">
			<a href="#guide-intro" class="wayfinder__link wayfinder__link--guide-intro js-section-anchor">
				Introduction
			</a>
		</li>
		<li class="wayfinder__item">
			<a href="#viewing-audience" class="wayfinder__link wayfinder__link--viewing-audience js-section-anchor">
				Viewing Audience
			</a>
		</li>
		<li class="wayfinder__item">
			<a href="#layout" class="wayfinder__link wayfinder__link--layout js-section-anchor">
				Layout
			</a>
		</li>
		<li class="wayfinder__item">
			<a href="#navigation" class="wayfinder__link wayfinder__link--navigation js-section-anchor">
				Navigation
			</a>
		</li>
		<li class="wayfinder__item">
			<a href="#typography" class="wayfinder__link wayfinder__link--typography js-section-anchor">
				Typography
			</a>
		</li>
		<li class="wayfinder__item">
			<a href="#images" class="wayfinder__link wayfinder__link--images js-section-anchor">
				Images
			</a>
		</li>
		<li class="wayfinder__item">
			<a href="#animation" class="wayfinder__link wayfinder__link--animation js-section-anchor">
				Animation
			</a>
		</li>
	</ul>
</nav>
