.guide-intro {
	position: relative;
	background-color: var(--color-white);
}

.guide-intro__header {
	margin: 2.5rem 0 3.5rem;
}

@media (--medium) {

	.guide-intro__header {
		margin: 6rem 0 6.5rem;
	}

}
