{{> components-header }}

<main class="main">
	{{# intro }}
		{{> components-intro }}
	{{/ intro }}

	{{# guideIntro }}
		{{> components-guide-intro }}
	{{/ guideIntro }}

	{{> templates-viewing-audience }}

	{{> templates-layout }}

	{{> templates-navigation }}

	{{> templates-typography }}

	{{> templates-images }}

	{{> templates-animation }}
</main>

{{> components-footer }}