{{> components-header }}

<main class="main">
	{{# intro }}
		{{> components-intro }}
	{{/ intro }}
	{{# guideIntro }}
		{{> components-guide-intro }}
	{{/ guideIntro }}
	{{# viewingAudience }}
		{{> components-topic-section }}
	{{/ viewingAudience }}
</main>

{{> components-footer }}