{{> components-header }}

<main class="main">
	{{# intro }}
		{{> components-intro }}
	{{/ intro }}
	{{# guideIntro }}
		{{> components-guide-intro }}
	{{/ guideIntro }}

	{{> templates-viewing-audience }}
</main>

{{> components-footer }}