<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #000;"></span>
		<span class="sg-label">Black<br> <strong>#000000</strong></span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fff;"></span>
		<span class="sg-label">White<br> <strong>#FFFFFF</strong></span>
	</li>
</ul>