{{# intro }}
<div class="intro section">
	<div class="wrapper wrapper--small intro__text">
		<h1 class="heading heading--large intro__title">{{ title }}</h1>
		<p class="intro__description">{{ description }}</p>
	</div>

	{{# nextSectionAnchor }}
		{{> basics-section-anchor }}
	{{/ nextSectionAnchor }}
</div>
{{/ intro }}