<header class="topic-section__header" style="background-image: linear-gradient(to right, rgba({{overlayColor}}, .7), rgba({{overlayColor}}, .7)), url('../../images/pattern.png'), url('{{ backgroundImage }}');">
	<h1 class="wrapper wrapper--small heading heading--large-alt topic-section__heading">{{ topicHeadnig }}</h1>
</header>