{{# intro }}
<section class="intro section" id="intro">
	<div class="wrapper wrapper--small intro__text">
		{{> components-logo-link }}
		<h1 class="heading heading--large intro__title">{{ title }}</h1>
		<p class="intro__description">{{ description }}</p>
	</div>

	{{# nextSectionAnchor }}
		{{> basics-section-anchor }}
	{{/ nextSectionAnchor }}
</section>
{{/ intro }}