.bullet-flair {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 3rem;
}

.bullet-flair__icon {
	width: 4.69rem;
	height: 4.69rem;
	padding: 0.94rem;
	display: flex;
	justify-content: center;
	background-color: var(--color-teal);
	border-radius: 50%;
}

.bullet-flair__design {
	width: 88px;
}

.bullet-flair__mobile {
	width: 50px;
}

.bullet-flair__ui {
	width: 70px;
}

@media (min-width: 36em) {

	.bullet-flair {
		margin-top: 4rem;
	}

	.bullet-flair__icon {
		width: 9.38rem;
		height: 9.38rem;
		padding: 1.88rem;
	}

}