.image-callout {
	background-image: linear-gradient(to top, var(--color-gray-lightest) 0%,var(--color-gray-lightest) 80%,var(--color-white) 80%,var(--color-white) 100%);
}

.image-callout__wrapper {
	max-width: 44.5rem;
	margin: 1.5rem auto 2.5rem;
	padding: 0 1rem;
}

.image-callout__wrapper--iphone {
	display: flex;
	justify-content: center;
}

.iphone {
	position: relative;
	margin: 0 0 1rem;
	flex-basis: 12.5rem;
	&:first-child { margin-right: 4%; }
	&:last-child { margin-left: 4%; }
}

.iphone__body {
	position: relative;
	z-index: 1;
}

.iphone__image {
	position: absolute;
	top: 10%;
    left: 4.5%;
    width: 92%;
}

@media (--medium) {

	.image-callout__wrapper {
		margin: 3.5rem auto 4.5rem;
	}

}