.section-anchor {
	position: absolute;
	bottom: 2rem;
	left: auto;
	right: auto;
	display: block;
	font-size: 1.75rem;
	font-weight: bold;
	color: var(--color-white);

	&:after {
		content: '';
		display: block;
		margin: 0 auto;
		border-width: 0 .1em .1em 0;
		border-color: var(--color-white);
		border-style: solid;
		transform: rotate(45deg);
		width: 1.07em;
		height: 1.07em;
		transition: transform var(--anim-duration-fast) var(--anim-easing);
	}

	&:hover, &:focus {
		color: inherit;
		&:after {
			transform: rotate(45deg) translate(.2em, .2em);
		}
	}

	&:visited { color: inherit; }
}

.section-anchor--blue {
	color: var(--color-blue);
	&:after {
		border-color: var(--color-blue);
	}
}

.section-anchor--teal {
	color: var(--color-teal);
	&:after {
		border-color: var(--color-teal);
	}
}