.section-anchor {
	position: absolute;
	bottom: 2em;
	left: auto;
	right: auto;
	width: 2em;
	height: 2em;
	margin-left: -1rem;
	transition: transform var(--anim-duration-fast) var(--anim-easing);

	&:hover, &:focus {
		transform: translateY(.5em);
	}

	&:before {
		content: '';
		display: block;
		border-width: 0 .3125em .3125em 0;
		border-color: var(--color-white);
		border-style: solid;
		transform: rotate(45deg);
		width: 2em;
		height: 2em;
	}
}

.section-anchor--blue {
	&:before {
		border-color: var(--color-blue);
	}
}

.section-anchor--teal {
	&:before {
		border-color: var(--color-teal);
	}
}