@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

body {
	color: var(--color-text);
	font-family: var(--font-family-primary);
	font-size: var(--base-font-size);
	font-weight: var(--font-weight-primary);
	line-height: 1.5;
}

p, ul, ol {
	line-height: 1.75;
	margin: 0 0 1.75rem 0;
	&:last-child { margin-bottom: 0; }
}

@media (--medium) {

	p, ul, ol {
		margin: 0 0 2rem 0;
		& + .heading--small { margin-top: 4rem; }
		& + .heading--medium { margin-top: 5rem; }
	}


}