<figure class="full-width mage-callout image-callout--iphone{{# caption }} image-callout--caption{{/ caption }}">
	<div class="image-callout__wrapper image-callout__wrapper--iphone">
		{{# iphones }}
		<div class="iphone">
			<img class="iphone__image" src="{{ image }}" alt="{{ alt }}">
			<img class="iphone__body" src="../../images/iphone.png" alt="">
		</div>
		{{/ iphones }}
	</div>
	{{# caption }}
	<figcaption class="image-callout__caption">
		{{ caption }}
	</figcaption>
	{{/ caption }}
</figure>