<div class="image-callout image-callout--iphone">
	<div class="image-callout__wrapper image-callout__wrapper--iphone">
		{{# iphones }}
		<div class="iphone">
			<img class="iphone__image" src="{{ image }}" alt="{{ alt }}">
			<img class="iphone__body" src="../../images/iphone.png" alt="">
		</div>
		{{/ iphones }}
	</div>
</div>