.site-footer {
	background: var(--color-gray-dark) url(../images/footer-bg-480x320.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	min-height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	font-family: var(--font-family-secondary);
	text-transform: uppercase;
}

.site-footer__wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	height: 18em;
	min-height: 18em;
}

.site-footer__message {
	color: var(--color-white);
	margin-bottom: 2em;

	strong, b {
		display: block;
		font-size: 3.75em;
	}
}

.site-footer__cta {
	font-size: 1.25em;
	margin-bottom: 0;

	a {
		color: var(--color-teal);

		&:hover, &:focus {
			color: var(--color-teal-light);
		}

		&:active {
			color: var(--color-white);
		}
	}
}


@media (min-width: 30em) {
	.site-footer {
		background-image: url(../images/footer-bg-768x400.jpg);
	}

	.site-footer__wrapper {
		height: 23em;
		min-height: 23em;
	}

	.site-footer__message {
		font-size: 1.25em;
	}

	.site-footer__cta {
		font-size: 1.5em;
	}

}


@media (min-width: 48em) {
	.site-footer {
		background-image: url(../images/footer-bg-1280x474.jpg);
		z-index: 2;
	}

	.site-footer__wrapper {
		height: 27.625em;
		min-height: 27.625em;
	}

	.site-footer__message {
		font-size: 1.5em;
	}

	.site-footer__cta {
		font-size: 1.75em;
	}
}

@media (min-width: 80em) {
	.site-footer {
		background-image: url(../images/footer-bg-1920x474.jpg);
	}



}