.main {
	overflow-x: hidden;
	margin-bottom: 4rem;
	background-color: var(--color-white);
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	padding: 1rem;
}

.wrapper--large {
	max-width: var(--wrapper-width-large);
}

.wrapper--medium {
	max-width: var(--wrapper-width-medium);
}

.wrapper--small {
	max-width: var(--wrapper-width-small);
}

.wrapper--xsmall {
	max-width: var(--wrapper-width-xsmall);
}

.full-width {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

@media (--medium) {

	.main {
		margin-bottom: 6rem;
	}

}